<h1>About Us</h1>
<p>This is a simple website to demonstrate the use of Rails.</p>
<p>It is a part of the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>.</p>
<p>For more information, see the <a href="http://guides.rubyonrails.org/">Rails Guides</a>.</p>
<p>For help on Rails, see the <a href="http://stackoverflow.com/questions/tagged/ruby-on-rails">Rails tag on Stack Overflow</a>.</p>